/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
  font-family: Courier New;
}

header #title {
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 1px #9CC3DA;
  color: #3A98C8;
}

header #version {
  font-size: 20px;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  padding: 20px 0 0 10px;
  color: #E42B31;
}

header div {
  box-shadow: 2px 2px 4px 0px black;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 12px;
  border-color: darkgrey;
  border-width: 2px;
  padding: 10px 10px 10px 10px;
}

header ul {
  margin: 10px 0 0 10px;
  text-align: right;
}

header li {
  display: inline;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: 2px 2px 1px darkgrey;
}

header a:hover {
  color: white;
}

header a {
  color: grey;
  text-decoration: none;
}

body {
  font-family: Sans-Serif;
}
