<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= t('.title') %></a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to t('.nav.home'), root_path %></li>
          <li><%= link_to t('.nav.blogs'), blogs_path %></li>
          <li><%= link_to t('.nav.p_euler'), p_euler_home_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
