<header>
  <div>
    <p id='title'><%= t('.title') %></p>
    <p id='version'><%= t(".version") %></h5>
    <ul id='menu'>
      <li><%= link_to t('home'), root_path %></li>
      <li><%= link_to t('blogs.index.title'), blogs_path %></li>
    </ul>
  </div>
</header>
